<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <%= render 'admin/departments/index/filter' %>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card rounded-0 mt-5 mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h1>Listing Departments</h1>
            </div>
            <div class="col-md-6">
              <%= link_to 'New department', new_admin_department_path, class: "btn btn-primary float-right" %>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Established from</th>
          <th colspan="3">Actions</th>
        </tr>
       
        <% @departments.each do |department| %>
          <tr>
            <td><%= department.name %></td>
            <td><%= department.established_from %></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</button>
                <div class="dropdown-menu">
                  <%= link_to 'Show', admin_department_path(department), class: "dropdown-item" %>
                  <%= link_to 'Edit', edit_admin_department_path(department), class: "dropdown-item" %>
                  <%= link_to 'Destroy', admin_department_path(department), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                </div>
              </div>    
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>