<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Profile</th>
      <th>Assigned Users</th>
      <th>Actions</th>          
    </tr>
  </thead>
  <% @department.employees.order(is_manager: :desc).each do |employee| %>
    <tbody>
        <tr>
        <td><%= image_tag "employee.jpg", class: "rounded-circle image" %></td>
        <td><%= employee.name %></td>
        <td>
          <% if employee.is_manager %>
           <span class="badge badge-success">Manger</span>
          <% else %>
           <span class="badge badge-danger">subordinate </span>
          <% end %>
        </td>  
        <% if employee.is_manager %>
          <td>
            <strong>Subordinates:</strong> 
            <% employee.subordinates.each do |sub_ordinates| %>    
              <li>
                <%= sub_ordinates.name %>                  
              </li>
            <% end %>
          </td>  
        <% else %>
          <td>
            <strong>Manager:</strong> 
            <% if employee.manager.present? %>
              <li>
                <%= employee.manager.name  %>
              </li> 
            <% end %>
          </td> 
        <% end %>  
        <td><%= link_to 'View Profile', admin_employee_path(employee), class: "btn btn-info waves-effect waves-light btn-sm" %></td>
        </tr>
    </tbody>
  <% end %>  

</table>


<style type="text/css">
  .image{
    width: 50px;
  }
</style>