<%= form_for [:admin, @employee], html: {id: 'employee_form'} do |form| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control rounded-0" %>      
    </div>
    <div class="form-group col-md-6">
      <%= form.label :middle_name %>
      <%= form.text_field :middle_name, class: "form-control rounded-0" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control rounded-0" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control rounded-0" %>
    </div>    
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :date_of_birth %>
      <%= form.date_field :date_of_birth, class: "form-control rounded-0" %>
    </div>
    
    <div class="form-group col-md-6">
      <%= form.label :date_of_joining %>
      <%= form.date_field :date_of_joining, class: "form-control rounded-0" %>
    </div>
  </div>

  <div class="row">    
    <div class="form-group col-md-6">
      <%= form.label :personal_contact %>
      <%= form.text_field :personal_contact, class: "form-control rounded-0" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :emergency_contact %>
      <%= form.text_field :emergency_contact, class: "form-control rounded-0" %>
    </div>
  </div>


  <div class="row">    
    <div class="form-group col-md-6">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control rounded-0" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control rounded-0" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :state %>
      <%= form.text_field :state, class: "form-control rounded-0" %>
    </div>    
    <div class="form-group col-md-6">
      <%= form.label :country %>
      <%= form.text_field :country, class: "form-control rounded-0" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :zipcode %>
      <%= form.text_field :zipcode, class: "form-control rounded-0" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :profile_photo %>
      <%= form.text_field :profile_photo, class: "form-control rounded-0" %>
    </div>    
  </div>

  <div class="row">    
    <div class="form-group col-md-6">
      <%= form.label :job_title %>
      <%= form.text_field :job_title, class: "form-control rounded-0" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :job_description %>
      <%= form.text_area :job_description, class: "form-control rounded-0" %>
    </div>
  </div>

  <div class="row">    
    <div class="form-group col-md-6">
      <%= form.label :gender %>
      <%= form.text_field :gender, class: "form-control rounded-0" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :marital_status %>
      <%= form.text_field :marital_status, class: "form-control rounded-0" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :blood_group %>
      <%= form.text_field :blood_group, class: "form-control rounded-0" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :religion %>
      <%= form.text_field :religion, class: "form-control rounded-0" %>
    </div>    
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :employee_code %>
      <%= form.text_field :employee_code, class: "form-control rounded-0" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :select_department %>
      <%= form.select :department_id, options_for_select(Department.all.map {|department| [department.name, department.id]}, selected: form.object.try(:department_id)), { include_blank: "Select Department" }, { class: "form-control form-control-line", required: true } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>    

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Back', admin_employees_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>
