<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <%= render 'admin/employees/index/filter' %>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5 mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h1>Listing Employees</h1>        
            </div>
            <div class="col-md-6">
              <%= link_to 'New Employee', new_admin_employee_path, class: "btn btn-primary float-right" %>              
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>City</th>
              <th>Country</th>
              <th>Job title</th>
              <th>DOJ</th>
              <th>Code</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%= employee.name %></td>
                <td><%= employee.city.titleize %></td>
                <td><%= employee.country.titleize %></td>
                <td><%= employee.job_title.titleize %></td>
                <td><%= employee.date_of_joining %></td>
                <td><%= employee.employee_code %></td>
                <td>
                  <% if employee.is_active %>
                    <span class="badge badge-success">Active</span>
                  <% else %>
                    <span class="badge badge-danger">In Active</span>
                  <% end %>
                </td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</button>
                    <div class="dropdown-menu">                                   
                      <%= link_to 'Show', admin_employee_path(employee), class: "dropdown-item" %>
                      <%= link_to 'Edit', edit_admin_employee_path(employee), class: "dropdown-item" %>
                      <%= link_to  'Destroy', admin_employee_path(employee), method: :delete, data: {   confirm: 'Are you sure?' }, class: "dropdown-item"  %>
                    </div>  
                  </div>    
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      <h2 class="card-heading">Import Employees</h2>      
    </div>    
    <div class="card-body">
      <%= form_tag import_admin_employees_path, multipart: true do %>
       <%= file_field_tag :file %>
       <%= submit_tag "Import", class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>  
  </div>  
</div>