<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">AI HRM <sup>2</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Directories
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <%= link_to admin_departments_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-building"></i>
      <span>Departments</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admin_employees_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-users"></i>
      <span>Employees</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admin_educational_credentials_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-users"></i>
      <span>Educational credentials</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admin_employee_relatives_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-users"></i>
      <span>Employee Relative</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admin_bank_details_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-bank"></i>
      <span>Bank Details</span>
    <% end %>
  </li>

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
