<div class="container">
  <!-- <div class="card mt-3">
    <div class="card-body">
      <%#= render 'admin/educational_credentials/index/filter' %>      
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card rounded-0 mt-5 mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h1>Listing Educational Credentials</h1>
            </div>
            <div class="col-md-6">
              <%= link_to 'New Educational Credentials', new_admin_educational_credential_path, class: "btn btn-primary float-right" %>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>Course</th>
          <th>Board or University</th>
          <th>City</th>
          <th>Marks</th>
          <th colspan="3">Actions</th>
        </tr>
       
        <% @educational_credentials.each do |educational_credential| %>
          <tr>
            <td><%= educational_credential.course %></td>
            <td><%= educational_credential.board_or_university %></td>
            <td><%= educational_credential.city %></td>
            <td><%= educational_credential.marks %></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</button>
                <div class="dropdown-menu">
                  <%= link_to 'Show', admin_educational_credential_path(educational_credential), class: "dropdown-item" %>
                  <%= link_to 'Edit', edit_admin_educational_credential_path(educational_credential), class: "dropdown-item" %>
                  <%= link_to 'Destroy', admin_educational_credential_path(educational_credential), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                </div>  
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>