<div class="container">
  <!-- <div class="card mt-3">
    <div class="card-body">
      <%#= render 'admin/employee_relatives/index/filter' %>      
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card rounded-0 mt-5 mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h1>Listing Employee Relatives</h1>
            </div>
            <div class="col-md-6">
              <%= link_to 'New Employee Relative', new_admin_employee_relative_path, class: "btn btn-primary rounded-0 float-right" %>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Relation</th>
          <th colspan="3">Actions</th>
        </tr>
       
        <% @employee_relatives.each do |employee_relative| %>
          <tr>
            <td><%= employee_relative.name %></td>
            <td><%= employee_relative.contact %></td>
            <td><%= employee_relative.address %></td>
            <td><%= employee_relative.relation %></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</button>
                <div class="dropdown-menu">         
                  <%= link_to 'Show', admin_employee_relative_path(employee_relative), class: "dropdown-item" %>
                  <%= link_to 'Edit', edit_admin_employee_relative_path(employee_relative), class: "dropdown-item" %>
                  <%= link_to 'Destroy', admin_employee_relative_path(employee_relative), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                </div>
              </div>    
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>