<%= form_for [:admin, @leave], html: {id: 'leave_form'} do |form| %>
 
  <% if @leave.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@leave.errors.count, "error") %> prohibited
        this leave from being saved:
      </h2>
      <ul>
        <% @leave.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= form.label :total_assigned_leaves %>
    <%= form.text_field :total_assigned_leaves, class: "form-control rounded-0" %>
  </div>
 
  <div class="form-group">
    <%= form.label :taken %>
    <%= form.text_field :taken, class: "form-control rounded-0" %>
  </div>

  <div class="form-group">
    <%= form.label :remaining %>
    <%= form.text_field :remaining, class: "form-control rounded-0" %>
  </div>
 
  <div class="actions">
    <%= form.submit class: "btn btn-primary rounded-0" %>
    <%= link_to 'Back', admin_leaves_path, class: "btn btn-outline-primary rounded-0" %>
  </div>
 
<% end %>