<%= render 'partials/flash' %>
<%= render :layout => 'form' do |form| %>   
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control rounded-0" %>      
    </div>
    <div class="form-group col-md-6">
      <%= form.label :middle_name %>
      <%= form.text_field :middle_name, class: "form-control rounded-0" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control rounded-0" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control rounded-0" %>
    </div>    
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :date_of_birth %>
      <%= form.date_field :date_of_birth, class: "form-control rounded-0" %>
    </div>
  </div>  
  <div class="row">    
    <div class="form-group col-md-6">
      <%= form.label :personal_contact %>
      <%= form.text_field :personal_contact, class: "form-control rounded-0" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :emergency_contact %>
      <%= form.text_field :emergency_contact, class: "form-control rounded-0" %>
    </div>
  </div>
<% end %>