<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-5">
        <div class="card-header">
          <h5 class="card-heading">Basic profile</h5>
        </div>
        <div class="card-body">
          <%= render 'partials/flash' %>  
          <%= form_for @employee, url: :wizard, html: {id: 'employee_form'} do |form| %>
            <% if @employee.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

                <ul>
                <% @employee.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="form-group col-md-6">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, class: "form-control rounded-0" %>      
              </div>
              <div class="form-group col-md-6">
                <%= form.label :middle_name %>
                <%= form.text_field :middle_name, class: "form-control rounded-0" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <%= form.label :last_name %>
                <%= form.text_field :last_name, class: "form-control rounded-0" %>
              </div>
              <div class="form-group col-md-6">
                <%= form.label :email %>
                <%= form.text_field :email, class: "form-control rounded-0" %>
              </div>    
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <%= form.label :date_of_birth %>
                <%= form.date_field :date_of_birth, class: "form-control rounded-0" %>
              </div>
            </div>  
            <div class="row">    
              <div class="form-group col-md-6">
                <%= form.label :personal_contact %>
                <%= form.text_field :personal_contact, class: "form-control rounded-0" %>
              </div>
              <div class="form-group col-md-6">
                <%= form.label :emergency_contact %>
                <%= form.text_field :emergency_contact, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="actions">
              <%= link_to "Previous", edit_admin_employee_path(@employee), class: "btn btn-secondary" %>
              <%= form.submit "Continue", class: 'btn btn-primary' %>
            </div> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
