<%= form_for [:admin, @bank_detail], html: {id: 'bank_detail_form'} do |form| %>
  <% if @bank_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_detail.errors.count, "error") %> prohibited this bank_detail from being saved:</h2>

      <ul>
      <% @bank_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :bank_name %>
      <%= form.select :bank_name, options_for_select(BankDetail::BANK, selected: form.object.try(:bank_name)), {include_blank: "Select Bank name"}, { class: "form-control rounded-0 js-example-basic-single", required: true } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :account_number %>
      <%= form.text_field :account_number, class: "form-control rounded-0"  %>
    </div>    
  </div>
  
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :branch %>
      <%= form.text_field :branch, class: "form-control rounded-0"  %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :ifsc_code, 'IFSC CODE' %>
      <%= form.text_field :ifsc_code, class: "form-control rounded-0"  %>
    </div>    
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control rounded-0"  %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :select_employee %>
      <%= form.select :employee_id, options_for_select(Employee.all.map {|employee| [employee.name, employee.id]}, selected: form.object.try(:employee)), { include_blank: "Select Employee" }, { class: "form-control js-example-basic-single", required: true } %>
    </div>    
  </div>
  
  <div class="actions">
    <%= form.submit class: "btn btn-primary rounded-0" %>
    <%= link_to 'Back', admin_bank_details_path, class: "btn btn-outline-primary rounded-0" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-example-basic-single').select2();
});

</script>